*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
.time{
  color: #B7B7B7;
text-align:center;
font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  
}
.box{
  display: flex;
padding: 8px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;


background: #FFF;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  color: #606060;

}
.pop{


  
 
  
background: var(--colours-brand-primary, #008000) !important;
   display: inline-flex;
border-radius: 999px !important; 
justify-content: center;
align-items: center;
z-index: 10000;
  
}
.cb_1{
 
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-evenly;
}

.header{
 
  position: fixed;
  top: 0;
  
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  z-index: 999;
}

.chat{
    position: fixed;
    bottom: 0;
    
    width: 100%;
    padding: 10px;
    max-width: 600px;
    background-color: #fff;
    z-index: 999;
    display: flex;
}